.post{
    background-color: var(--gray-800);
    border-radius: 8px;
    padding: 2.5rem;
}

.post + .post{
    margin-top: 2rem;
}

.post header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author{
    display: flex;
    flex-direction: column;
}
.avatar{
    width: calc(3rem + 12px);
    height: calc(3rem + 12px);
    border-radius: 5px;
    border: 4px solid var(--green-800);
    outline: 2px solid var(--green-500);
}

.content{
    line-height: 1.6;
    color: var(--gray-600);
    margin-top: 1.5rem;
}

.content p{
    margin-top: 1rem;
}

.content a{
    font-weight: bold;
    color: var(--green-500);
    text-decoration: none;
}

.content a:hover{
    color: var(--green-300);
}