.post{
    background-color: var(--gray-800);
    border-radius: 8px;
    padding: 2.5rem;
}

.post + .post{
    margin-top: 2rem;
}

.post header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author{
    display: flex;
    gap: 1rem;
}

.author div{
    display: flex;
    flex-direction: column;
}

.author div strong{
    margin-top: 7px;
    line-height: 1.6;
    font-weight: 700;
}

.author div span{
    color: var(--gray-400);
    font-size: .875rem;

}
.avatar{
    width: calc(3rem + 12px);
    height: calc(3rem + 12px);
    border-radius: 5px;
    border: 4px solid var(--green-800);
    outline: 2px solid var(--green-500);
}

.content{
    line-height: 1.6;
    color: var(--gray-300);
    margin-top: 1.5rem;
}

.content p{
    margin-top: 1rem;
}

.content a{
    font-weight: bold;
    color: var(--green-500);
    text-decoration: none;
}

.content a:hover{
    color: var(--green-300);
}

.commentForm{
    width: 100%;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid var(--gray-600);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.commentForm > strong{
    line-height: 1.6;
    color: var(--gray-100);
}

.commentForm  textarea{
    width: 100%;
    background-color: var(--gray-900);
    border: 0;
    resize: none;
    height: 6rem;
    border-radius: 8px;
    border: 1px solid var(--green-300);
    padding-top: .75rem;
    padding-left: 1rem;
    color: var(--gray-300);
}

.commentForm footer{
    visibility: hidden;
    max-height: 0;
}

.commentForm:focus-within footer{
    visibility: visible;
    max-height: none;
}

.commentForm button{
    background-color: var(--green-500);
    padding: 1rem 1.5rem;
    border-radius: 8px;
    color: var(--white);
    border: 0;
    font-weight: bold;
    cursor: pointer;
    transition: .2s;
}

.commentForm button:hover{
    background-color: var(--green-300);
}